<style>
        body{
            font-size: 16px;
        }

        h1{
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
        }

        p{
            font-weight: 600;
            font-size: 3em;
            line-height: 80px;
            text-align: center;
        }

        ul{
            background-color: green;
            text-decoration: crimson;
        }

        .p-ul{
            background-color: royalblue;
            

        }
</style>