.super-mario {
  position: absolute;
  width: 200px;
  left: 30px;
}

.goomba {
  position: absolute;
  width: 100px;
  top: 350px;
  left: 90px;
}

.baloon {
  position: absolute;
  left: 300px;
  top: 100px;
  width: 200px;

}

.speach {
  position: absolute;
  font-size: 25px;
  left: 307px;
  top: 125px;
  z-index: 2;
  font-size: 18px;

}

.bowser {
  position: absolute;
  width: 200px;
  left: 500px;
  top: 150px;
}